body{
  background-color: #e0e8ff;
  max-width: 1440px;
}

.bg{
  width: 1920px;
  height: 470px;
}

.content{
  font-family: 'Red Hat Display', sans-serif;
  display: grid;
  background-color: white;
  text-align: center;
  width: 450px;
  margin: auto;

  border-radius: 20px;
  box-shadow: 0px 10px 30px #dedbf8;
  position: relative;
  top: -350px;


}

.hero{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 0 0;
}

h1{
  color: #1f2f56;
  margin-top: 32px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.para{
  color: #7280a7;
  font-size: 16px;
  margin: auto 23% 5% 11%;
  margin-bottom: 25px;
  width: 350px;
}

.annual{
  background-color: #f5f7ff;
  margin-left: 45px;
  margin-right: 45px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.icon{
  margin-top: 25px;
  margin-right: 260px;
}


h5{
  color: #1f2f56;
  font-weight: bold;
  position: relative;
  right: 38px;
  bottom: 45px;
}

#price{
  color: #7280a7;
  position: relative;
  right: 50px;
  bottom: 53px;
}

#change{
  font-size: 14px;
  color: #3829e0;
  font-weight: bold;
  position: relative;
  left: 115px;
  bottom: 110px;
}

#change:hover{
  color: #766cf1;
}


.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #dedbf8;
  color: #ffffff;
  font-size: 16px;
  background:  #3829e0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: auto 10% auto 10%;
  font-weight: bold;
}

.btn:hover {
  background: #766cf1;
  text-decoration: none;
  color: #ffffff;
}

.cancel{
  color: #7280a7;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 35px;
}

.cancel:hover{
  color: #1f2f56;
}

@media only screen and (max-width: 375px) {
  .content{
    width: 340px;
    height: 650px;
    font-size: 16px;
  }
  .hero{
    width: 340px;
    margin-right: 10px;
  }
  .para{
    margin: -20px 12% 5% 0;
  }
  .annual{

    margin-left: 32px;
    margin-right: 32px;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .icon{
    margin-top: 15px;
    margin-right: 200px;
  }


  h5{
    font-size: 16px;
    position: relative;
    right: 5px;
    bottom: 45px;
  }

  #price{
    position: relative;
    right: 7px;
    bottom: 53px;
  }

  #change{
    position: relative;
    left: 95px;
    bottom: 105px;
  }
}
